<section class="ajouter">
    <h1>Ajouter une recette</h1>
    <form  id="recipeForm">
        <div class="gouche">
            <div class="group">
                <label for="Nom" class="text-lab">Nom</label><br>
                <input type="text" id="Nom" class="item">
            </div>
            <div class="group">
                <label for="Categorie" class="text-lab">Catégorie</label><br>
                <select id="Categorie"  class="item">
                    <option value="entree">Entrée</option>
                    <option value="plat_Principal">Plat_principal</option>
                    <option value="dessert">Dessert</option>
                </select>
                
            </div>
            <div class="group">
                <label for="temps" class="text-lab">Temps_de_préparation</label><br>
                <input type="text" id="temps" class="item">
            </div>
            <div class="group">
                <label for="preparation" class="text-lab">préparation</label><br>
                <textarea class="item" id="preparation"></textarea>
            </div>
        </div>
        <div class="droite">
            <div class="group">
                <div class="img-conter">
                        <div class="preview">
                            <img src="" alt="" id="file-image">
                        </div>
                        <label for="img" id="label-img">Image</label><br>
                        <input type="file" accept="image/*" id="img" onchange="showPreview(event);">    
                </div>

            </div>
            <div class="group">
                <label for="ingredients" class="text-lab">Ingredients</label><br>
                <textarea class="item" id="ingredients"></textarea>
            </div>
        </div>
        <button id="btn_ajouter" type="submit">Ajouter</button>
    </form>
    
</section>